.MovieRow{
    display: flex;
    flex-direction: column;
    width: inherit;
    background-color: #111;
    color: #fff;
}

.MovieRow h2{
    margin: 0px 0px 0px 30px;
}

.movieRow-listarea{
    overflow: hidden;
    padding-left: 30px;
}

.movieRow-list{
    display: flex;
    flex-direction: row;
}

.movieRow--item {
    display: inline-block;
    width: 150px;
    cursor: pointer;
}
.movieRow--item img {
    width: 100%;
    transform: scale(0.9);
    transition: all ease 0.2s;
}
.movieRow--item img:hover {
    transform: scale(1);
}

.left-arrow,
.right-arrow{
    position: absolute;
    width: 40px;
    height: 225px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    transition: all ease 0.5s;
    margin-top: 29px;
}

.left-arrow{
    left: 0;
}

.right-arrow{
    right: 0;
}

.MovieRow:hover .left-arrow,
.MovieRow:hover .right-arrow{
    opacity: 1;
}

